@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
	<ul class="navbar-nav ms-auto">
		<vc:cart></vc:cart>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Hello, @User.Identity.Name</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="profileDropdown">
				<li>
					<a asp-controller="Cart" asp-action="OrderHistory" role="button" class="dropdown-item">Orders</a>
				</li>
				<li>
					<a asp-controller="Account" asp-action="Logout" role="button" class="dropdown-item">Logout</a>
				</li>
			</ul>
		</li>
	</ul>

}
else
{
	<ul class="navbar-nav ms-auto">
		<li>
			<a asp-controller="Account" asp-action="Register" class="nav-link" role="button">Register</a>
		</li>
		<li>
			<a asp-controller="Account" asp-action="Login" class="nav-link" role="button">Login</a>
		</li>
	</ul>
}
