<form method="GET" asp-controller="Home" asp-action="Index" class="form-inline my-2 my-lg-0">
    <div class="input-group">
        <input name="filter" class="form-control" value='@Context.Request.Query["filter"]' />
        <input type="hidden" name="sort" value='@Context.Request.Query["sort"]' class="w-100" />
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-secondary" />
        </div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary" role="button">Reset</a>
    </div>
</form>