@model MarysToyStore.Models.Product

@if (Model != null)
{
            <div class="productStyles">
                <h3>@Model.Name</h3>
                <img class="img-fluid" src="~/lib/images/@Model.ImagePath">
                <p>@Model.Description</p>
                <p>Price: $@Model.Price</p>
            </div>
}
else
{
            <p>No products have been found with that provided Id.</p>
}