@model IEnumerable<Brand>
<div>
    <p>
        <a asp-controller="Admin" asp-action="AddBrand" class="btn btn-primary" role="button">Add Brand</a>
    </p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td><a asp-controller="Admin" asp-action="editbrand" asp-route-id="@item.Id">Edit</a></td>
            </tr>
        }
    </table>
</div>
