@model IEnumerable<Brand>
<div>
    <h3>Restore Brand</h3>
    <table class="table">
        <tr>
            <th>Brand</th>
            <th>Action</th>
        </tr>
        @foreach (Brand b in Model)
        {
                <tr>
                    <td>@b.Name</td>
                    <td><a asp-controller="Admin" asp-action="RestoreBrand" asp-route-id="@b.Id" class="btn btn-link">Restore</a></td>
                </tr>
        }
    </table>
</div>