@model IEnumerable<ProductCategory>
<div>
    <h3>Restore Product Category</h3>
    <table class="table">
        <tr>
            <th> Product Category</th>
            <th>Action</th>
        </tr>
        @foreach (ProductCategory pc in Model)
        {
            <tr>
                <td>@pc.Name</td>
                <td><a asp-controller="Admin" asp-action="RestoreProductCategory" asp-route-id="@pc.Id" class="btn btn-link">Restore</a></td>
            </tr>
        }
    </table>
</div>
